@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&family=Unbounded&display=swap');

html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

.m-container {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.left-side {
    height: 100%;
    width: 30%;
    margin: 0;
}

.back-image {
    height: 850rem;

}

.hojas {
    position: relative;
    height: 100vh;
    width: 100%;
}

.logo {
    position: absolute;
    width: 8vw;
    height: 15vh;
    
}

.logo-back{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 90%, 30%);
    height: 25vh;
    width: 30vw;
    position: absolute;
    top: 37.5vh;
    bottom: 37.5vh;
}

.right-side {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    width: 70%;
}

.top {
    padding-left: 3rem;
    display: flex;
    flex-wrap: 1;
    height: 300rem;
    background-color: rgb(236, 236, 236);
}

.top-heading {
    font-size: 1.2rem;
    margin-top: 2rem;
}

.middle {
    height: 250rem;
    background-color: white;
}

.bottom {
    height: 300rem;
    background-color: rgb(236, 236, 236);
}

form {
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
    padding-left: 3rem;
}

li {
    font-size: .8rem;
}

.boton {
    margin-left: 3rem;
    margin-top: 24px;
    width: 140px;
    height: 60px;
    background-color: rgb(95, 165, 95);
    border-radius: 16px;
    font-size: 1.2rem;
}

.login {
    margin-left: 3rem;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: green;
}

.mid-head {
    font-size: 1.2rem;
    margin-left: 3rem;
}

input {
    border-radius: 4px;
    border:rgb(236, 236, 236) solid 2px;
}

input.error {
    border: red solid 1px;
}

.passws {
    font-size: .8rem;
    margin-left: 3rem;
    color:red;
    margin-top: auto;
}

input:focus {
    border: blue solid 1px;
}